.dashboard-banner {
    background: $color-primary;
    background: -webkit-linear-gradient(to right, #93291e, $color-primary);
    background: linear-gradient(to right, #93291e, $color-primary);
    border-radius: 8px;
    padding: 1rem 3rem;
}

.img-dashboard-welcome {
    width: 100%;
    max-width: 300px;
}

@each $class, $colors in $card-names {
    .card-#{$class} {
        background: linear-gradient(to right, nth($colors, 1), nth($colors, 2));
        i.fa {
            font-size: 1.5rem;
        }
        transition: transform 0.3s ease;
        cursor: pointer;
        &:hover {
            transform: translateY(-10px);
        }
    }
}

.dashboard-actions .card > img {
    width: 100%;
    height: 170px;
    object-fit: cover;
}
