body.dark-mode {
    background: $dark-mode-bg;
    color: $dark-mode-color;

    * {
        color: $dark-mode-color;
    }

    hr {
        background: rgba(238, 238, 238, 0.582);
    }

    .loader-data {
        border-left-color: #fff;
        border-right-color: #fff;
    }

    .dropdown-menu {
        background: $dark-mode-bg;
    }

    .swal2-popup,
    .loader {
        background: $dark-mode-bg;
    }
    .loader .lds-ellipsis div {
        background: #fff;
    }

    .navbar-light .navbar-nav .nav-link,
    .navbar-brand,
    .navbar-brand:hover,
    .page-link,
    .swal2-input {
        color: $dark-mode-color !important;
    }

    input:not([type="file"]):not(.swal2-input),
    input:not(.swal2-input),
    select,
    select option {
        color: #000 !important;
    }

    .tox .tox-collection__item-checkmark svg,
    .tox .tox-collection__item-icon svg {
        fill: #000;
    }

    input[type="file"] {
        color: #fff;
    }

    .navbar-toggler-icon {
        position: relative;

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 120%;
            height: 120%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            border-radius: 20px;
            background: #fff;
            z-index: -1;
        }
    }

    .card:not(.card-houses):not(.card-admins):not(.card-persons):not(.card-streets),
    .page-link,
    .page-item.disabled .page-link {
        background: darken($dark-mode-bg, 5%);
    }
}
