/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(163, 163, 163, 0.774);
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(104, 104, 104, 0.856);
}

.card .title {
    margin-bottom: 1rem;
}

.icon-rounded {
    display: inline-block;
    flex: 0 0 auto;
    border-radius: 50%;
    padding: 1rem;
    color: $color-primary;
    background: lighten($color-primary, 40%);
    width: 72px;
    height: 72px;
}

.section {
    margin-top: 6rem;
}

.language {
    position: relative;
    display: inline-block;
    font-weight: 400;
    font-size: 18px;
    cursor: pointer;

    &:hover::before {
        height: 78%;
    }

    &::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 7px;
        left: 0;
        bottom: 2px;
        background: lighten($color-primary, 10%);
        opacity: 0.3;
        transition: all 0.2s ease;
    }
}

input.bad,
input.bad:focus,
select.bad,
select.bad:focus {
    box-shadow: 0 0 0 0.2rem #dc354670;
    border-color: #dc3545;
}
