.not-results {
    background: #56ccf2;
    background: linear-gradient(to right, #0575e6, #021b79);
    border-radius: 8px;
    padding: 1rem 3rem;
}

.img-not-results {
    width: 100%;
    max-width: 200px;
}
