.not-results {
    background: $color-primary;
    background: -webkit-linear-gradient(to right, #93291e, $color-primary);
    background: linear-gradient(to right, #93291e, $color-primary);
    border-radius: 8px;
    padding: 4rem 3rem;
}

.img-not-results {
    width: 100%;
    max-width: 200px;
}
