
$font-text: "Lato", sans-serif, Arial;
$title: "Archivo Black", Impact;
$title-underline-width: calc(4% + 10px);
$title-size: 2.5rem;
$color-primary: #007bff;
$transition-time: 0.2s;
$carousel-height: 500px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
