$font-text: "Lato", sans-serif, Arial;
$title: "Archivo Black", Impact;
$title-underline-width: calc(4% + 10px);
$title-size: 2.5rem;
$color-primary: #da2727;
$transition-time: 0.2s;
$carousel-height: 600px;
$card-names: (
    "admins": (
        $color-primary,
        #dd1818,
    ),
    "persons": (
        $color-primary,
        #FF4B2B,
    ),
);
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$dark-mode-bg: #1a202c;
$dark-mode-color: #fff;
